/*Iniciando a pag*/
body,
html {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
/*anexando linear-gradient padrão como no projeto do figma*/
.bg-aside,
.modal-header,
.navbar-dark {
  background: linear-gradient(#ffb354, #ee7a3a);
  color: #fff;
}
/*tratamento de peso das fontes de acordo com o protótipo*/
.title {
  font-weight: 700;
  font-size: 30px;
}
.bg-top,
.card-top {
  background: #fdf1eb;
}
.bg-top {
  color: #725c5c;
}
.card-top {
  color: #4e4e4e;
  font-weight: 500;
  font-size: 20px;
}
.roboto-s {
  font-size: 14px;
}
.roboto-m {
  font-size: 22px;
}

/* .lang,
.perfil-txt,
.link-aside {
  font-family: "Quicksand", sans-serif;
} */

/* .perfil {
  border-radius: 50%;
}
.perfil-txt {
  font-size: 14px;
  font-weight: 500;
} */

/*Links da nav*/
.toggle{
  width:300px;
}

/*Tratando o modal menu*/
@media (min-width: 1190px) {
 .nav-mob{
   display:none;
 }
 .modal-backdrop{
    display:none;
 }
}

.link-aside {
  font-size: 15px;
  color: #725c5c;
}
.link-aside:hover {
  background: #FDF1EB;
  border-left: 10px solid #ee7a3a;
}

h1 {
  color: #ed7839;
  font-weight: 900;
  font-size: 20px;
}

.btn-dark {
  background: #ed7839;
  border: #ed7839;
}

/*Tratando a aside*/
aside{
  width:20%;
  float:left;
}
.side {
  height: 75px;
}
.sidebar {
  height: 120vw;
}

@media (min-width: 1500px) {
  .card-text-1 {
    max-height: 380px;
  }
}
/*Tratamento dos cards e spam relacionados a eles*/
.card {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
/*Reaproveitando declaração da fonte e peso*/
.card-header, .spam-side {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}
.card-header {
  font-size: 20px;
  line-height: 25px;
}
.spam-side {
  font-size: 16px;
  color: #ed7839;
}

.soft {
  color: rgb(155, 155, 155);
}
/*Reaproveitando declaração de fonte e peso*/
.card-text, .subcard-content {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.card-text{
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #5c5c5c;
}
.subcard-content{
  line-height: 18px;
  color: #4D4D4D;
}

/*Tratando os títulos e subs dos cards*/
.card-h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ed7839;
}
.card-h2{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ED7839;
}
.card-h3{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #5C5C5C;
}

.card-content {
  color: #595959;
}
/*Tratamento principal do comportamento do card lateral (direita)*/
@media (min-width: 1500px) {
  .card-text-1 {
    max-height: 380px;
  }
}
@media (max-width: 1500px) {
  .card-text-1 {
    max-height: 280px;
    overflow: scroll;
  }
}
@media (max-width: 1350px) {
  .card-text-1 {
    max-height: 250px;
    overflow: scroll;
  }
}
@media (max-width: 1270px) {
  .card-text-1 {
    max-height: 200px;
    overflow: scroll;
  }
}
/*Aqui a nav lateral será escondida*/
@media (min-width: 1191px){
  .side2{
    float:right;
    width:80%;
  }
}
@media (max-width: 1190px) {
  .card-text-1 {
    max-height: 150px;
    overflow: scroll;
  }
  .side-nav {
    display: none;
  }
  h1{
    padding:10px;
  }
  .bg-top {
    padding-left: 20px;
    padding-right: 50px;
  }
}
@media (max-width: 600px) {
  .bg-top {
    padding-left: 25px;
    padding-right: 20px;
  }
}
@media (min-width: 600px) {
  .icone-card{
    padding:30px;
  }
}
.imagens {
  display: flex;
  justify-content: center;
}

/*Botão de + topicos*/
.btn-topicos {
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  color: #fff;
  margin: -80px;
}

.btn-heart{
  background:#ED7839;
}
.link-cards{
  font-size: 14px;
  line-height: 19px;
  color: #757575;
}
.text-orange{
  color:#ED7839;
}
.texto{
  display:none;
}
.form-text-center{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}
.center{
  text-align: center;
}
.form-label{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ED7839;
}
.staff{
  background:#F8F8F8;
}
.staff-right{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ED7839;
}
.comentario-titulo{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #5C5C5C;
}
.btn-enviar{
  color:#fff;
  background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
  border-radius: 0px 0px 4px 0px;
  width:150px;
}
.div-btn{
  background:#EAF1F2;
  margin-top:-18px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
}
.border-bot{
  border-bottom: none;
}
.btn-purple{
  background:#71478e;
  color:#fff;
}
.footer-content{
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color:#94918f;
}
.footer-content .bolder{
 color: #615e5d;
}

